body {
  color: #f6efe6;
  background-image: url("../images/pattern.jpg");
  background-repeat: repeat;
  opacity: 0.9;
  min-width:980px;
}

/* Header */
.container {
  width: 960px;
  margin: 15px auto;
  height:100px;
  background-color: rgba(52,58,64,.75);
  color: #f6efe6;
  border: #c32536 groove 15px;

}
h1 {
  /* padding: 20px 20px;
  font-size: 60px;
  text-align: center;
  opacity:1;
  font-weight: 900;
  text-shadow: 3px 3px #c32536; */
}

/* Main */
Main{
  height:100%;
}
.container-main {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  border: #f6efe6 groove 15px;
  display: table;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top:20px;
}
.container-image {
  width: auto;
  height:auto;
  border: #c32536 groove 10px;
  float: left;
  box-sizing: border-box;
  margin: 20px 40px 20px;
}


.container-body {
  background-color: rgba(52,58,64,.97);
  width: 600px;
  height: 330px;
  border: #c32536 groove 10px;
  float: left;
  box-sizing: border-box;
  margin: 20px 40px 10px 0;
  text-align: center;
}

#instructions {
  font-size: 40px;
  margin: 10px;
}
#currentWord {
  letter-spacing: 10px;
  font-size: 50px;
  margin: 10px auto 5px;
  color: #f6efe6;
  text-shadow: 2px 2px #c32536;
}

.infoText {
  font-size:30px;
  margin: 10px 40px 5px;
}

#wrongGuess {
  font-size: 25px;
  letter-spacing: 4mpx;
}

#livesLeft,
#wordsGuessed,
#wordsMissed {
  font-size: 25px;
  margin-bottom: 5px;
  text-decoration-line: underline;
   text-decoration-style: solid;
}
